<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>prova</title>
</head>
<h1 id="id" th:text="${titolo}"></h1>
<body id="body" class="body">
	<div id="image_map">
		<span> Documento: </span>
		<!-- tag che verrà riempito con il documento da vizinfo.js -->

	</div>
	<div>
		<h1>Ritorna alla home:</h1>
		<a href="/home"> home </a>
	</div>

	<!-- inzio caricamento librerie  -->
	<script type="text/javascript" src="/javaScript/jquery.min.js">
	</script>

	<script type="text/javascript"
		src="/javaScript/jquery.maphilight.min.js">
	</script>

	<script type="text/javascript" src="/javaScript/vizinfo_noSearch.js">
	</script>

	<script type="text/javascript"
		src="/javaScript/gen_transcriptions_nodup.js">
  </script>

	<!-- fine caricamento librerie  -->

	<script type="text/javascript" th:inline="javascript">
	
	var pagina= [[${titolo}]];
	
	  $(function(){
		  createAreas("image_map", "/documents/" + pagina + ".jpg", "map_example");
		  $('.mapHit').maphilight(); // {"alwaysOn": true}
	  });
	  
	</script>

</body>
</html>