<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title>Search Results</title>
</head>

<body>
	<!-- inzio caricamento librerie  -->
	<script type="text/javascript" src="/javaScript/jquery.min.js">
	</script>

	<script type="text/javascript" src="/javaScript/caricaMedia.js">
	</script>

	<script type="text/javascript" src="/javaScript/riempiCanvas.js">
	</script>
	
	<script src="/javaScript/bootstrap.min.js">
	</script>
	<!-- fine caricamento librerie  -->
	
	<!-- inizio navigation bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IRSystem</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/home">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documents <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/visualizzaDocumento/040r">040r</a></li>
            <li><a href="/visualizzaDocumento/040v">040v</a></li>
            <li><a href="/visualizzaDocumento/041r">041r</a></li>
            <li><a href="/visualizzaDocumento/041v">041v</a></li>
            <li><a href="/visualizzaDocumento/042r">042r</a></li>
            <li><a href="/visualizzaDocumento/042v">042v</a></li>
            <li><a href="/visualizzaDocumento/043r">043r</a></li>
            <li><a href="/visualizzaDocumento/043v">043v</a></li>
            <li><a href="/visualizzaDocumento/044r">044r</a></li>
            <li><a href="/visualizzaDocumento/044v">044v</a></li>
            <li><a href="/visualizzaDocumento/050v">050v</a></li>
            <li><a href="/visualizzaDocumento/100r">100r</a></li>
            <li><a href="/visualizzaDocumento/150v">150v</a></li>
            <li><a href="/visualizzaDocumento/200r">200r</a></li>    
          </ul>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- fine navigation bar -->

	<script type="text/javascript" th:inline="javascript">
	/*carico le immagini necessarie per realizzare gli snippets*/
	var documenti= [[${documenti}]];
	var images= caricaMedia(documenti);
	</script>
	
	
	<h1>Search Results:</h1>
	<span th:text="${hits}" class="lead"></span>
	<br>
	<section th:each="risultatoDoc, stat: ${listaRisultati}">
		<h4>
			<a th:href="@{'/toDocumento' + '/' + ${risultatoDoc.titolo}}"
				th:text="${risultatoDoc.titolo}"> titolo</a> <span
				th:text="${risultatoDoc.score}"> Score </span> <span
				th:text="${risultatoDoc.coordinateD}"> </span>

			<ul style="list-style-type: none;">
				<li th:each="coordinata, stat: ${risultatoDoc.boxP}">
					<div>
						<canvas th:id="${stat.index} + ${risultatoDoc.titolo}"
							style="border: 1px solid; width: 1200px; height: 50px;"> your browser doesn't support the canvas tag
							</canvas>

						<script type="text/javascript" th:inline="javascript">
						
		/*carico le info sui boxes e gli id delle canvas*/
		var titolo= [[${risultatoDoc.titolo}]];   
		var indice= [[${stat.index}]];    
		var box= [[${coordinata}]];    
		var testo= [[${risultatoDoc.coordinateD}]];
		
		riempiCanvas(titolo, indice, box, testo, images);
		
		</script>
						<span th:text="${risultatoDoc.titolo}"> nome file </span> <span
							th:text="'|x: '+${coordinata.x} +'|' "> x </span> <span
							th:text="'|y: '+ ${coordinata.y} +'|'"> y </span> <span
							th:text="'|w: '+ ${coordinata.width} +'|'"> w </span> <span
							th:text="'|h: '+ ${coordinata.height} +'|'"> h </span>
					</div>
				</li>
			</ul>
		</h4>
	</section>
</body>
</html>