<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">

<title>Risultati ricerca</title>
</head>

<body>
	<!-- inzio caricamento librerie  -->
	<script type="text/javascript" src="/javaScript/jquery.min.js">
	</script>

	<script type="text/javascript" src="/javaScript/caricaMedia.js">
	</script>

	<script type="text/javascript" src="/javaScript/riempiCanvas.js">
	</script>
	<!-- fine caricamento librerie  -->

	<script type="text/javascript" th:inline="javascript">
	/*carico le immagini necessarie per realizzare gli snippets*/
	var documenti= [[${documenti}]];
	var images= caricaMedia(documenti);
	</script>

	<h1>Risultati della ricerca:</h1>
	<span th:text="${hits}" onload="log()"></span>
	<section th:each="risultatoDoc, stat: ${listaRisultati}">
		<h4>
			<a th:href="@{'/toDocumento' + '/' + ${risultatoDoc.titolo}}"
				th:text="${risultatoDoc.titolo}"> titolo</a> <span
				th:text="${risultatoDoc.score}"> Score </span> <span
				th:text="${risultatoDoc.coordinateD}"> </span>

			<ul style="list-style-type: none;">
				<li th:each="coordinata, stat: ${risultatoDoc.boxP}">
					<div>
						<canvas th:id="${stat.index} + ${risultatoDoc.titolo}"
							style="border: 1px solid; width: 1200px; height: 50px;"> your browser doesn't support the canvas tag
							</canvas>

						<script type="text/javascript" th:inline="javascript">
						
		/*carico le info sui boxes e gli id delle canvas*/
		var titolo= [[${risultatoDoc.titolo}]];   
		var indice= [[${stat.index}]];    
		var box= [[${coordinata}]];    
		var testo= [[${risultatoDoc.coordinateD}]];
		
		riempiCanvas(titolo, indice, box, testo, images);
		
		</script>
						<span th:text="${risultatoDoc.titolo}"> nome file </span> <span
							th:text="'|x: '+${coordinata.x} +'|' "> x </span> <span
							th:text="'|y: '+ ${coordinata.y} +'|'"> y </span> <span
							th:text="'|w: '+ ${coordinata.width} +'|'"> w </span> <span
							th:text="'|h: '+ ${coordinata.height} +'|'"> h </span>
					</div>
				</li>
			</ul>
		</h4>
	</section>
	<div>
		<h1>Ritorna alla home:</h1>
		<a href="/home"> home </a>
	</div>
</body>
</html>